pipeline/03-Web-And-Folder-Retrieve.json
{
	"name": "03-Web-And-Folder-Retrieve",
	"properties": {
		"activities": [
			{
				"name": "CheckLink",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.google.com/",
					"method": "GET"
				}
			},
			{
				"name": "GetFolderMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "NewCustomersCSVMetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolderMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolderMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyNewCustomersCSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Names",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Names",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Age",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Age",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Total_Purchase",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Total_Purchase",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Account_Manager",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Account_Manager",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Years",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Years",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Num_Sites",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Num_Sites",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Onboard_date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Onboard_date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Location",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Company",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Company",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "NewCustomersMetadataFile",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TestCustomerMetadata",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}